@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-main: #f26e22;
  --color-main-disabled: #ffc7a7;
  --color-gray: #767676;
  --color-light-gray: #dbdbdb;
  --color-light-gray-02: #c4c4c4;
  --color-red: #eb5757;
  --color-yellow: #f2c94c;
  --color-blue: #2d9cdb;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}

a,
button {
  cursor: pointer;
}
