@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import 'tailwindcss';

@theme {
  --color-main: #f26e22;
  --color-main-disabled: #ffc7a7;
  --color-gray: #767676;
  --color-ligt-gray: #dbdbdb;
  --color-light-gray-02: #c4c4c4;
  --color-red: #eb5757;
  --color-yellow: #f2c94c;
  --color-blue: #2d9cdb;
}

body {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
}

a,
button {
  cursor: pointer;
}
